# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
pytest_cache/
.coverage

# Virtual environments
venv/
env/
ENV/
.venv/
.pipenv/
pip-wheel-metadata/

# VS Code settings (если пользуешься)
.vscode/

# macOS junk
.DS_Store

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/
build/

.idea